<!-- <ul class="nav">
<li class="nav-item"><a href="/">Ana Sayfa</a></li>
<li class="nav-item"><a href="/about">Data Mining Proje</a></li>
<li class="nav-item"><a href="/projects">Projeler</a></li>

</ul> -->

<!-- <nav class="navbar navbar-light bg-light">
    <div class="container-fluid">
        <a href="/">Ana Sayfa</a>
        <a href="/about">Data Mining Proje</a>
        <a href="/projects">Projeler</a>
    </div>
  </nav> -->

  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">WebApp HC</a>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">Ana Sayfa</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/about">Data Mining Proje</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/projects">Projeler</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>